* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.navbar-bg-custom {
    background-color: rgb(104, 183, 214);
    box-shadow: 0 3px 10px gray;
    margin-bottom: 2rem;
}

.nav-link:hover, .nav-link:active {
    color: rgb(239, 237, 243) !important;
}
