.dog-image {
    margin: 0 auto;
    width: 100%;
    /*max-width: 30rem;*/
    height: auto;
    border-radius: 1rem 1rem 0 0;
}

.dog-card {
    border: 1px solid rgb(218, 223, 218);
    border-radius: 0 0 1rem 1rem;
    background-color: white;
    padding: .5rem 1rem;
    text-align: center;
    /*max-width: 30rem;*/
}

.dog-link {
    color: rgb(32, 123, 207);
    font-size: 1.8rem;
}

.dog-link:hover {
    text-decoration: none;
    color: rgb(184, 116, 223);
}